.container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.hour {
	color: #f0f0f0;
	margin-bottom: 2rem;
}

.title {
	color: #f0f0f0;
}

.minor {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

@media (prefers-color-scheme: light) {
	.hour {
		color: #1a1a24;
	}
	.title {
		color: #1a1a24;
	}
}
@media (min-width: 1200px) {
	.title {
		font-size: 32px; /* Aumenta o tamanho da fonte do título em telas maiores */
	}

	.hour {
		font-size: 32px; /* Aumenta o tamanho da fonte do horário em telas maiores */
	}
}